.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  
}


.sec {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  border: 4px solid #f8599f;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: #5468E4;
  text-align: center;
}


.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  padding: 1.5rem;
  flex-wrap: wrap;
  font-size: 2rem;
  color: #fff;
  max-width: 800px;
  margin-top: 3rem;
  margin: 1rem;
  border-radius: 50px;
  background-color: black;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #000;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}


